name: Python Test Workflow

on: [push]

jobs:
  test-python:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install pytest
        run: python -m pip install pytest

      - name: Run tests
        run: pytest -v
